<div class="card">
  <div class="section-header">
    <h3 class="section-header__title">Work timeline</h3>
    <span class="section-header__meta">sessions over time</span>
  </div>
  <div data-work-timeline data-sessions='{{ sessionsJson | raw }}'></div>
</div>
