<div class="heyiam-portfolio parchment" data-render-version="2" data-template="parchment" data-username="{{ user.username }}">

  {% render 'partials/_portfolio-header', user: user %}

  {% render 'partials/_portfolio-stats', projects: projects, totalSessions: totalSessions, totalDurationMinutes: totalDurationMinutes, totalAgentDurationMinutes: totalAgentDurationMinutes, totalLoc: totalLoc, efficiencyMultiplier: efficiencyMultiplier %}

  {% render 'partials/_portfolio-projects', projects: projects %}

  {% render 'partials/_footer' %}

</div>
